@import "variables";
@import "slider";
@import "switch";
@import "inputs";
@import "sections/header";
@import "sections/profits";
@import "sections/steps";
@import "sections/whyRealUsers";
@import "sections/useKnowledge";
@import "sections/haveQuestions";
@import "sections/howItWorks";
@import "sections/footer";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $bg-light;
  color: $black;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1360px;
  padding: 0 15px;

  @media (max-width: 1200px) {
    max-width: 1000px;
  }
}

.smallContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;

  @media (max-width: 1200px) {
    max-width: 1000px;
  }
}

.section {
  padding: 80px 0;

  @media (max-width: 767px) {
    padding: 50px 0;
  }
}

.primaryButton {
  color: $white;
  font-weight: 500;
  padding: 14px 32px;
  background-color: $primary;
  border: 1px solid $primary;
  border-radius: 32px;
  box-shadow: 4px 2px 0px $secondary;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.secondaryButton {
  color: $primary;
  font-weight: 500;
  padding: 14px 32px;
  background-color: $white;
  border: 1px solid $primary;
  border-radius: 32px;
  box-shadow: 4px 2px 0px $secondary;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.buttonIcon {
  margin-right: 10px;
  padding-bottom: 2px;
}

.logoSection {
  background-color: $white;
  .smallContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
  }
}

.heading {
  font-size: 70px;
  font-weight: 600;
  color: $primary;
  margin-top: 0;
  @media (max-width: 1200px) {
    font-size: 55px;
  }
}

.subheading {
  font-size: 21px;
  font-weight: 400;
  margin-top: 0;
}

.decorativeWrapper {
  border: 1px solid $primary;
  border-radius: 6px;
  box-shadow: 4px 2px 0px $secondary;
}

.sectionsRelativeWrapper {
  position: relative;

  .drawing {
    position: absolute;
    bottom: 250px;
    left: 0;

    @media (max-width: 1500px) {
      left: -100px;
    }
    @media (max-width: 1200px) {
      left: -200px;
    }
  }
}

.smallText {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
